@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-text-body: #0d0d0d;
  --color-bg-background: #f6f6f6;
  --color-primary: #2e2eae;
  --color-bg-side: #e4e4ea;
}

.dark {
  --color-text-body: #f6f6f6;
  --color-bg-background: #0d0d0d;
  --color-primary: #4a4aa1;
  --color-bg-side: #121212;
}

body {
  background: var(--color-bg-background);
  color: var(--color-text-body);
  font-family: var(--font-geist-sans), "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5; /* optional: match Geist metrics */
  letter-spacing: 0.01em; /* optional */
}

@custom-variant dark (&:where(.dark, .dark *));
